@import url("https://fonts.googleapis.com/css?family=Nunito:600,700&display=swap");

* {
    box-sizing: border-box;
}

#app {
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    font-family: Nunito, Roboto, Arial, sans-serif;
    background: linear-gradient(90deg, rgba(10, 1, 154, 1) 0%, rgba(33, 33, 159, 1) 13%, rgba(0, 212, 255, 1) 86%);
    height: 100vh;
}

#auth-container {
    width: 30% !important;
}

.container {
    text-align: center;
    color: #fff;
}

.container>header {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0 auto 60px auto;
    position: relative;
    height: 35px;
    width: 250px;
    overflow: hidden;
}

.header-headings {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.96);
}

.header-headings>span {
    margin: 3px 0;
}

.header-headings.sign-in {
    transform: translateY(0);
}

.header-headings.sign-up {
    transform: translateY(-35px);
}

.options {
    display: inline-flex;
    align-items: center;
    width: 350px;
    justify-content: space-between;
}

@media screen and (max-width: 380px) {
    .options {
        width: 100%;
    }
}

.options>li {
    cursor: pointer;
    opacity: .5;
    transition: all .2s ease;
}

.options>li:hover {
    opacity: 1;
}

.options>li.active {
    opacity: 1;
}

.options>li:nth-of-type(2) {
    margin-left: 15px;
}

.options>li:last-of-type {
    margin-left: auto;
}