.books-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
    margin-top: 30px;
}

.tabs {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.tab {
    cursor: pointer;
}

.selectedTab {
    background-color: lightblue;
}

.tab:hover {
    background-color: lightblue;
}

.booksList-filters {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.booksList-filters>* {
    margin-right: 20px;
}

.booksList-filter {
    height: fit-content;
}

.booksList-filter-select {
    height: 48px;
}